.HomeContent {
  .Breadcrumb {
    margin: 1rem 0;
    font-size: 1rem;
    list-style: none;
    li {
      &::after {
        content: ">";
        margin: 0 8px;
        color: var(--primary);
      }

      &:last-child {
        &::after {
          content: "";
          margin: 0;
        }

        a {
          pointer-events: none;
          cursor: default;
          text-decoration: none;
        }
      }
    }
  }

  form {
    display: inline;
    font-size: 1.2rem;
    color: var(--text-color);
    border: 0.1rem solid var(--gray-2);
    border-radius: 2rem;
    input {
      padding: 0.5rem 1rem;
      border: none;
      outline: none;
      background-color: transparent;
    }
  }
}
