:root {
  --primary: #bc412b;
  --secondary: #444348;
  --danger: #ef233c;
  --gray-1: #20232a;
  --gray-2: #efefef;
  --gray-3: #d5d5d5;
  --light-blue: #d3e3fd;
  --off-white-blush: #f9f4f0;
  --font-family: "Roboto", sans-serif;
  --box-shadow: 0 6px 9px 0 rgb(0 0 0 / 15%);
  --box-shadow-nav: rgb(0 0 0 / 22%) 0px 2px 18px 0px;
  --text-color: #444;
}
